{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
    <h1>Votre panier</h1>
    <p>Contenu du panier à venir...</p>
    <a href="{{ path('homepage') }}">Retour à l'accueil</a>
{% endblock %}
