
###> symfony/framework-bundle ###
Init/.env.local
Init/.env.local.php
Init/.env.*.local
Init/config/secrets/prod/prod.decrypt.private.php
Init/public/bundles/
Init/var/
Init/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
Init/phpunit.xml
Init/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
Init/.phpunit.result.cache
Init/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
Init/public/assets/
Init/assets/vendor/
###< symfony/asset-mapper ###
