PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE doctrine_migration_versions (version VARCHAR(191) NOT NULL, executed_at DATETIME DEFAULT NULL, execution_time INTEGER DEFAULT NULL, PRIMARY KEY(version));
INSERT INTO doctrine_migration_versions VALUES('DoctrineMigrations\Version20250303134410','2025-03-04 01:16:00',182);
INSERT INTO doctrine_migration_versions VALUES('DoctrineMigrations\Version20250303215250','2025-03-04 01:16:01',4);
CREATE TABLE article (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, category_id INTEGER NOT NULL, author_id INTEGER NOT NULL, name VARCHAR(255) NOT NULL, cover VARCHAR(255) NOT NULL, description VARCHAR(255) NOT NULL, price NUMERIC(10, 2) NOT NULL, publication_date DATETIME NOT NULL, items_stored INTEGER NOT NULL, CONSTRAINT FK_23A0E6612469DE2 FOREIGN KEY (category_id) REFERENCES categories (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_23A0E66F675F31B FOREIGN KEY (author_id) REFERENCES author (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE TABLE article_themes (article_id INTEGER NOT NULL, themes_id INTEGER NOT NULL, PRIMARY KEY(article_id, themes_id), CONSTRAINT FK_7F85A55E7294869C FOREIGN KEY (article_id) REFERENCES article (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_7F85A55E94F4A9D2 FOREIGN KEY (themes_id) REFERENCES themes (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE TABLE article_user (article_id INTEGER NOT NULL, user_id INTEGER NOT NULL, PRIMARY KEY(article_id, user_id), CONSTRAINT FK_3DD151487294869C FOREIGN KEY (article_id) REFERENCES article (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_3DD15148A76ED395 FOREIGN KEY (user_id) REFERENCES "user" (id) ON DELETE CASCADE NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE TABLE author (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL, picture_profile VARCHAR(255) DEFAULT NULL);
CREATE TABLE cart (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, user_id INTEGER NOT NULL, CONSTRAINT FK_BA388B7A76ED395 FOREIGN KEY (user_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE TABLE categories (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL);
CREATE TABLE invoice (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, cart_id INTEGER NOT NULL, user_id INTEGER NOT NULL, transaction_date DATETIME NOT NULL, amount NUMERIC(10, 2) NOT NULL, billing_city VARCHAR(255) NOT NULL, billing_pc INTEGER NOT NULL, CONSTRAINT FK_906517441AD5CDBF FOREIGN KEY (cart_id) REFERENCES cart (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_90651744A76ED395 FOREIGN KEY (user_id) REFERENCES "user" (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE TABLE themes (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR(255) NOT NULL);
CREATE TABLE messenger_messages (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, body CLOB NOT NULL, headers CLOB NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL --(DC2Type:datetime_immutable)

        , available_at DATETIME NOT NULL --(DC2Type:datetime_immutable)

        , delivered_at DATETIME DEFAULT NULL --(DC2Type:datetime_immutable)

        );
CREATE TABLE IF NOT EXISTS "order" (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, total_price NUMERIC(10, 2) NOT NULL);
CREATE TABLE cart_article (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, cart_id INTEGER NOT NULL, article_id INTEGER NOT NULL, CONSTRAINT FK_F9E0C6611AD5CDBF FOREIGN KEY (cart_id) REFERENCES cart (id) NOT DEFERRABLE INITIALLY IMMEDIATE, CONSTRAINT FK_F9E0C6617294869C FOREIGN KEY (article_id) REFERENCES article (id) NOT DEFERRABLE INITIALLY IMMEDIATE);
CREATE TABLE user (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, username VARCHAR(255) NOT NULL, email VARCHAR(255) NOT NULL, balance NUMERIC(10, 2) DEFAULT NULL, picture_profile VARCHAR(255) DEFAULT NULL, roles CLOB NOT NULL --(DC2Type:json)

        , password VARCHAR(255) NOT NULL, phone_number INTEGER DEFAULT NULL, delivery_address VARCHAR(255) DEFAULT NULL);
INSERT INTO sqlite_sequence VALUES('cart_article',0);
INSERT INTO sqlite_sequence VALUES('user',0);
CREATE INDEX IDX_23A0E6612469DE2 ON article (category_id);
CREATE INDEX IDX_23A0E66F675F31B ON article (author_id);
CREATE INDEX IDX_7F85A55E7294869C ON article_themes (article_id);
CREATE INDEX IDX_7F85A55E94F4A9D2 ON article_themes (themes_id);
CREATE INDEX IDX_3DD151487294869C ON article_user (article_id);
CREATE INDEX IDX_3DD15148A76ED395 ON article_user (user_id);
CREATE UNIQUE INDEX UNIQ_BA388B7A76ED395 ON cart (user_id);
CREATE UNIQUE INDEX UNIQ_906517441AD5CDBF ON invoice (cart_id);
CREATE INDEX IDX_90651744A76ED395 ON invoice (user_id);
CREATE INDEX IDX_75EA56E0FB7336F0 ON messenger_messages (queue_name);
CREATE INDEX IDX_75EA56E0E3BD61CE ON messenger_messages (available_at);
CREATE INDEX IDX_75EA56E016BA31DB ON messenger_messages (delivered_at);
CREATE INDEX IDX_F9E0C6617294869C ON cart_article (article_id);
CREATE INDEX IDX_F9E0C6611AD5CDBF ON cart_article (cart_id);
CREATE UNIQUE INDEX UNIQ_8D93D649E7927C74 ON user (email);
COMMIT;
