<section class="navbar">
    <div class="navbarLogo"></div>

    <div class="navbarMenu">
        <!-- Formulaire de recherche et filtres -->
        <form id="searchForm" class="navbarSearchContainer">
            <!-- Barre de recherche intégrée à l'icône -->
            <div class="navbarSearchIcon">
                <input type="text" id="search" name="search" placeholder="Rechercher..." class="navbarSearchBar navbarResearch">
                <button type="submit" class="navbarSearchButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36" fill="none" class="SearchIconAnim">
                        <path d="M36 32.8846L25.2623 22.1452C26.9927 19.7672 27.9236 16.9013 27.9208 13.9604C27.9208 6.26279 21.658 0 13.9604 0C6.26279 0 0 6.26279 0 13.9604C0 21.658 6.26279 27.9208 13.9604 27.9208C16.9013 27.9236 19.7672 26.9927 22.1452 25.2623L32.8846 36L36 32.8846ZM13.9604 23.5116C12.0711 23.5118 10.2242 22.9517 8.65319 21.9022C7.08222 20.8526 5.85777 19.3608 5.13468 17.6154C4.4116 15.8699 4.22236 13.9492 4.5909 12.0962C4.95945 10.2432 5.86921 8.54109 7.20515 7.20515C8.54109 5.86921 10.2432 4.95945 12.0962 4.5909C13.9492 4.22236 15.8699 4.4116 17.6154 5.13468C19.3608 5.85777 20.8526 7.08222 21.9022 8.65319C22.9517 10.2242 23.5118 12.0711 23.5116 13.9604C23.5087 16.4926 22.5014 18.9203 20.7108 20.7108C18.9203 22.5014 16.4926 23.5087 13.9604 23.5116Z" fill="black"/>
                    </svg>
                </button>
            </div>

            <!-- Filtres et tri -->
            <div class="navbarFilters">
                <select id="filterCategory" name="category" class="navbarDropdown navbarFilter">
                    <option value="">Toutes les catégories</option>
                    {% if articles is defined %}
                        {% for article in articles %}
                            <option value="{{ article.category.name }}">{{ article.category.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                <select id="sortPrice" name="sort" class="navbarDropdown navbarFilter">
                    <option value="">Trier par prix</option>
                    <option value="asc">Prix croissant</option>
                    <option value="desc">Prix décroissant</option>
                </select>

                <input type="number" id="minPrice" name="minPrice" placeholder="Prix min" class="navbarInputPrice navbarFilter">
                <input type="number" id="maxPrice" name="maxPrice" placeholder="Prix max" class="navbarInputPrice navbarFilter">
            </div>
        </form>
    </div>
</section>
